.nav-div-man img {
  width: 100px;
  transition: 0.5s;
}
.nav-div-man:hover img {
  transform: scale(1.1);
}
.nav-div-man {
  opacity: 85%;
  transition: 0.5s;
}
.main-ul-nav {
  margin-right: 264px;
  font-family: "Alata", sans-serif;
}
.main-ul-nav li {
  font-size: 12px;
  transition: 0.7s;
  color: black;
  margin-right: 10px;
  position: relative;
  font-weight: 900;
}
.main-ul-nav li:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.1);
  color: black;
}
.main-ul-nav li:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0;
  left: 50%;
  bottom: 5px;
  transition: 0.7s;

}
.main-ul-nav li:hover:after {
  width: 90%;
  left: 4px;
  /* transform: translateX(-50%); */
  transition: ease-in-out 0.3s;
}

.second-ul-nav li i {
  transition: 0.7s;
}
.second-ul-nav li:hover i {
  transform: scale(1.2);
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

header {
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-image: url("images/SUCKE.avif");
  object-fit: cover;
  background-attachment: fixed;
  margin-bottom: -49px;
}

header h1 {
  font-size: 25px;
  color: whitesmoke;
  margin-top: -15px;
  font-weight: 200;
  font-family: "Alata", sans-serif;
  /* font-family: 'Alex Brush', cursive; */
  /* font-family: 'Carter One', cursive; */
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Marcellus', serif; */
  /* font-family: 'Marck Script', cursive; */
  /* font-family: 'Philosopher', sans-serif; */
  /* font-family: 'Playball', cursive; */
  /* font-family: 'Qwigley', cursive; */
  /* font-family: 'Tangerine', cursive; */
  /* font-family: 'Vollkorn SC', serif; */
}
header p {
  font-size: 15px;
  font-weight: 700;
  color: whitesmoke;
  margin-top: 395px;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  font-family: "Alex Brush", cursive;
  font-family: "Carter One", cursive;
  font-family: "Kaushan Script", cursive;
  font-family: "Marcellus", serif;
  font-family: "Marck Script", cursive;
  font-family: "Philosopher", sans-serif;
  /* font-family: 'Playball', cursive; */
  /* font-family: 'Qwigley', cursive; */
  /* font-family: 'Tangerine', cursive; */
  /* font-family: 'Vollkorn SC', serif; */
}

.modal-blurr {
  opacity: 90%;
}
.explore {
  text-align: center;
  font-size: 12px;
  /* background-color: whitesmoke; */
  font-family: "Alata", sans-serif;
}
.explore img {
  width: 25px;
  margin-top: 60px;
  margin-bottom: 25px;
}
.footer-explore {
  margin-top: 100px;
  /* background-color: whitesmoke; */
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.footer-explore span {
  font-weight: 400;
  text-align: center;
  font-size: 10px;
}
.spell span {
  font-size: 20px;
  font-weight: 720;
  font-family: "Philosopher", sans-serif;
}
.spell {
  margin-top: 50px;
  background-color: whitesmoke;
  font-size: 12px;
  color: black;
  font-family: "Alata", sans-serif;
  font-weight: 100;
}

.card-div {
  border-radius: 50px;
  background-color: rgb(92, 94, 2);
  opacity: 85%;
  transition: all 0.4s;
  overflow: hidden;
}
.card-div img {
  transition: 0.4s;
}
.card-div:hover img {
  transform: scale(1.15) rotate(-3deg);
  transition: 0.4s;
  box-shadow: 10px 10px 20px black;
  cursor: pointer;
}
.card-overlay-div {
  font-size: 13px;
  font-family: "Alata", sans-serif;
}
.card-div img {
  width: 100%;
}
.accord {
  margin-top: 70px;
}
#explore {
  padding-bottom: 30px;
}
.accord a {
  font-family: "Alata", sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
}
.accord h4 {
  font-size: 23px;
  color: black;
  font-family: "Philosopher", sans-serif;
  font-weight: 100;
}
.accord p {
  font-family: "Alata", sans-serif;
  font-size: 12px;
  color: black;
}
.acc-div {
  font-family: "Playball", cursive;
  font-size: 15px;
}
.acc-head-div {
  font-family: "Philosopher", sans-serif;
  font-weight: 1000;
  font-size: 15px;
}
.car-div img {
  object-fit: cover;
}
.car-div {
  object-fit: cover;
  font-family: "Alata", sans-serif;
}
#blog {
  background-color: whitesmoke;
  padding-bottom: 20px;
}
.blog-div span {
  color: rgb(53, 110, 243);
  font-size: 11px;
  font-weight: 500;
  font-family: "Alata", sans-serif;
}
span a {
  text-decoration: none;
}

p a {
  text-decoration: none;
}
.blog-div h3 {
  font-size: 22px;
  color: black;
  font-weight: 900;
  font-family: "Philosopher", sans-serif;
  margin-bottom: 5px;
}
.blog-div p {
  font-family: "Alata", sans-serif;
  font-size: 11px;
}
.blog-car-div img {
  object-fit: cover;
  height: 450px;
}
.big-car-div {
  font-family: "Playball", cursive;
}
#about {
  background-color: whitesmoke;
  padding-bottom: 30px;
}
.about-last span {
  padding-top: -30px;
  color: rgb(53, 110, 243);
  font-size: 11px;
  font-weight: 500;
  font-family: "Alata", sans-serif;
}
.about-last h3 {
  font-size: 22px;
  color: black;
  font-weight: 100;
  font-family: "Philosopher", sans-serif;
  margin-bottom: -20px;
}
.about-last p {
  font-family: "Alata", sans-serif;
  font-size: 11px;
  line-height: 22px;
  margin-bottom: 40px;
}
.left-div-text {
  /* font-family: "Alata", sans-serif; */
  /* font-family: "Alata", sans-serif; */
  /* font-family: "Alex Brush", cursive; */
  /* font-family: "Carter One", cursive; */
  /* font-family: "Kaushan Script", cursive; */
  /* font-family: "Marcellus", serif; */
  /* font-family: "Marck Script", cursive; */
  /* font-family: "Philosopher", sans-serif; */
  font-family: "Playball", cursive;
  /* font-family: 'Qwigley', cursive; */
  /* font-family: 'Tangerine', cursive; */
  /* font-family: 'Vollkorn SC', serif;  */
  font-size: 15px;
  padding-top: 43px;
}
.right-div-text {
  font-family: "Playball", cursive;
  /* font-family: "Alata", sans-serif; */
  font-size: 15px;
  padding-top: 43px;
}
.last-car-division img {
  object-fit: cover;
}
.last-car-division {
  object-fit: cover;
  font-family: "Alata", sans-serif;
}
#footer {
  background-color: whitesmoke;
  padding-top: 10px;
}
.footer-division-text span {
  color: rgb(53, 110, 243);
  font-size: 11px;
  font-weight: 500;
  font-family: "Alata", sans-serif;
}
.footer-division-text p {
  font-family: "Alata", sans-serif;
  font-size: 11px;
}
.footer-division-text h3 {
  font-size: 22px;
  color: black;
  font-weight: 100;
  font-family: "Philosopher", sans-serif;
  /* font-family: 'Playball', cursive; */
}
.footer-division-text {
  line-height: 25px;
  padding-bottom: 20px;
}
.footer-text-final {
  font-family: "Alata", sans-serif;

  font-size: 10px;
  line-height: 18px;
}
.footer-text-final span {
  font-weight: 900;
  font-size: 10px;
  line-height: 35px;
}
.copyright-text {
  font-size: 10px;
}
.social-icons i {
  margin-left: 10px;
}
